.app {
    display: grid;
    grid-template-rows: 150px auto;
}

.app_main {
    display: flex;
    justify-content: space-evenly;
    padding: 20px 8%;
}

.app_header {
    text-align: center;
    padding: 15px;
}